    <ul>
        <li class="active">
            <div class="background">
            <div>
            <h2>PSN: Profiel 1</h2>
            <h3>
                Season level: 24 </br>
                Win percentage: 64% </br>
                Field goal percentage: 73% </br>
            </h3>
            </div>
            <div>
            <h2>Playmaking Shot Creator</h2>
            <h3>
                Position: PG </br>
                Height: 6'2 </br>
                Takeover: Sharpshooting </br>
            </h3>
            </div>
            <img src="./images/playshot.png" alt="">
            </div>
        </li>
        <li class="profile">
            <div class="background">
            <div>
            <h2>PSN: Profiel 2</h2>
            <h3>
                Season level: 24 </br>
                Win percentage: 64% </br>
                Field goal percentage: 73% </br>
            </h3>
            </div>
            <div>
            <h2>2-way Playmaker</h2>
            <h3>
                Position: PG </br>
                Height: 6'2 </br>
                Takeover: Sharpshooting </br>
            </h3>
            </div>
            <img src="./images/2wayplaymaker.png" alt="">
            </div>
        </li>
        <li class="profile">
            <div class="background">
            <div>
            <h2>PSN: Profiel 3</h2>
            <h3>
                Season level: 24 </br>
                Win percentage: 64% </br>
                Field goal percentage: 73% </br>
            </h3>
            </div>
            <div>
            <h2>Glass Cleaner</h2>
            <h3>
                Position: PG </br>
                Height: 6'2 </br>
                Takeover: Sharpshooting </br>
            </h3>
            </div>
            <img src="./images/glasscleaner.png" alt="">
            </div>
        </li>
        <li class="profile">
            <div class="background">
            <div>
            <h2>PSN: Profiel 4</h2>
            <h3>
                Season level: 24 </br>
                Win percentage: 64% </br>
                Field goal percentage: 73% </br>
            </h3>
            </div>
            <div>
            <h2>Perimeter Lockdown</h2>
            <h3>
                Position: PG </br>
                Height: 6'2 </br>
                Takeover: Sharpshooting </br>
            </h3>
            </div>
            <img src="./images/perimeterlockdown.png" alt="">
            </div>
        </li>
        <li class="profile">
            <div class="background">
            <div>
            <h2>PSN: Profiel 5</h2>
            <h3>
                Season level: 24 </br>
                Win percentage: 64% </br>
                Field goal percentage: 73% </br>
            </h3>
            </div>
            <div>
            <h2>Slashing Playmaker</h2>
            <h3>
                Position: PG </br>
                Height: 6'2 </br>
                Takeover: Sharpshooting </br>
            </h3>
            </div>
            <img src="./images/slashingplaymaker.png" alt="">
            </div>
        </li>
    </ul>
    <button class="nobtn">X</button>
    <button class="yesbtn">✔</button>
